body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.container {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    /* background-image: url("https://thumbs.dreamstime.com/z/monochrome-seamless-pattern-diagonal-random-lines-abstract-texture-black-white-backdrop-plaid-fabric-plain-55458578.jpg"); */
}
.grid {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.footer {
    position: fixed;
    bottom: 0px;
    height: 3vh;
    width: 100vw;
    text-align: center;
    /* background-color: white; */
}
.footercontent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  background-color: white;
  overflow: auto; /* Enable scrolling within the left container if needed */
}

.right {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
}

.right-up {
  grid-template-rows: 1.5fr 2fr;
  /* position: relative; */
  background-color: #edd38c;
  height: 100%;
  border: 5px solid pink;
}

.right-down {
  /* position: relative; */
  background-color: #8c7d54;
  height: 100%;
  border: 5px solid black;
  overflow: hidden;
}

#textarea-left {
  resize: none;
  height: 99.5%; /* Subtract the border width from the height */
  width: 100%;
  border: 5px solid gray;
  box-sizing: border-box;
}
.create-entity {
  background: gray;
  height: 65%;
  width: 95%;
  margin-left: 20px;
  margin-right: 10px;
  position: relative;
  overflow: auto;
}

.create-entity-inner {
  width: 100%;
  height: 90%;
  margin: 0 auto;
}

.create-entity-buttons {
  text-align: center;
}

#create-buttons {
  margin-right: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10px 0px 10px 20px;
  /* margin-right: 20px; */
}

.column1 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  row-gap: 10px;
}

.column2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  row-gap: 10px;
}

.submit-entity {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
}

#textarea-right {
  resize: none;
  height: 100%;
  width: 100%;
  /* border: 2px solid gray; */
  box-sizing: border-box;
}

.entity-buttons-title {
  text-align: center;
  padding: 5px;
}

/* trying out this css after the point of no return. this was working properly  */
/* .entity-buttons-buttons { */
/*   height: 100%; */
/*   width: 100%; */
/*   padding: 0px 10px 30px; */
/*   text-align: left; */
/*   overflow: auto; */
/* } */

/* ----------- point of no return */

/* .collapsible { */
/*   background-color: #79a8d1; */
/*   color: white; */
/*   cursor: pointer; */
/*   padding: 18px; */
/*   width: 100%; */
/*   border: none; */
/*   text-align: left; */
/*   outline: none; */
/*   font-size: 15px; */
/* } */
/*  */
/* .active, .collapsible:hover { */
/*   background-color: #395873; */
/* } */
/*  */
/* .collapsible:after { */
/*   content: '\002B'; */
/*   color: white; */
/*   font-weight: bold; */
/*   float: right; */
/*   margin-left: 5px; */
/* } */
/*  */
/* .active:after { */
/*   content: "\2212"; */
/* } */

/* .content { */
/*   padding: 0 18px; */
/*   max-height: 0; */
/*   overflow: hidden; */
/*   transition: max-height 0.2s ease-out; */
/*   background-color: #f1f1f1; */
/* } */
/*  */

.title {
    background-color: #79a8d1;
    width: 100%;
    border-bottom: 1px solid #1f1f1f;
    background: gray;
    font-size: 1rem;
}

.content {
    font-size: 1 rem;
    height: 50%;
    overflow: hidden;
}
.righthaha.title {
    cursor: pointer;
}

/* .righthaha.title:after { */
/*   content: '\002B'; */
/*   color: white; */
/*   font-weight: bold; */
/*   float: right; */
/*   margin-left: 5px; */
/* } */

.righthaha.content {
    background: yellow;
    height: 40%;
    opacity: 1;
    color: #fff;
    transform-origin: top;
}

.righthaha.content.toggle {
    height: 0;
    padding: 0;
    opacity: 0;
    transform: scaleY(0);
}

.righthaha.title.hover + .righthaha.content {
    opacity: 0;
}

.footerhaha {
    margin: 2px;
    background-color: white;
}

.title2 {
    background-color: black;
    color: white;
    height: 5vh;
    width: 48vw;
    border: 3px solid black;
    text-align: center;
    font-size: 15px;
    pointer-events: none;
}

.content2 {
    height: 81vh;
    font-size: 1 rem;
    overflow: auto;
    background-color: white;
}

.entity-buttons-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 0 auto; */
    /* justify-content: center; */
    /* grid-auto-rows: minmax(40px, auto); */
    background-color: white;
    /* width: 100%; */
}

.ctba {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 30px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 6px 5px 4px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
}

.ctba:hover {
  opacity: .65;
}

.ctb {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.ctb:disabled {
    pointer-events: none;
}

.ctb:hover {
    /* box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; */
    box-shadow: none;
    transform: translateY(-2px);
}

.ctb:active {
    box-shadow: none;
    transform: translateY(0);
}

.ctbr {
  background-color: #fff;
  border: 2 solid #000000;
  /* border-radius: 10px; */
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  min-height: 30px;
  min-width: 70px;
  margin-right: 10px;
  padding: 6px;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ctbr:hover {
  background-color: #000000;
  color: #fff;
}
/*  */
/* @media (min-width: 768px) { */
/*   .ctbr { */
/*     font-size: 1.125rem; */
/*     padding: 1rem 2rem; */
/*   } */
/* } */
